<section class="infos">
    <div class="info-card">
        <img src="assets/icons/traingab.jpg" alt="Voyage en train">
        <h3>Voyage à travers les 9 provinces du Gabon</h3>
        <p>Explorez tout le Gabon en train, de la capital aux coins les plus reculés</p>
    </div>

    <div class="info-card">
        <img src="assets/icons/reservation.jpg" alt="Sécurité">
        <h3>Réservations Sécurisées</h3>
        <p>Réservez facilement en toute confiance grâce à notre système sécurisé.</p>
    </div>

    <div class="info-card">
        <img src="assets/icons/trans.jpg" alt="Assistance">
        <h3>Assistance 24h/24</h3>
        <p>Notre équipe est disponible à tout moment pour vous aider avant et pendant votre voyage</p>
    </div>
</section>
