<nav style="padding: 1rem; background: #e79090; display: flex; gap: 1rem;">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <a routerLink="/about" routerLinkActive="active">A propos</a>
    <a routerLink="/destinations" routerLinkActive="active">Destinations</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/booking" routerLinkActive="active">Reservation</a>
    <a routerLink="/login" routerLinkActive="active">Connexion</a>
    <a routerLink="/register" routerLinkActive="active">Inscription</a>
</nav>